body {
    font-family: 'Raleway', sans-serif !important;
}

body > div {
    width: 100%;
    height: calc(100% - 74px);
}

.travelogue-font {
    font-family: 'Amatic SC', cursive;
}

.travelogue-font-bold {
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
}

.brand-header-font {
    font-size: 2rem !important;
}

.large-header-font {
    font-size: 1.8rem;
}

.header-font {
    font-size: 1.2rem;
}

.menu-font {
    font-size: 1.2rem;
}

.body-heading {
    font-size: 1.2rem;
}

.body-typical {
    font-size: 1rem;
}

.trots {
    color: #161b33;
}

.bg-trots {
    background-color: #161b33;
}

.subscriptions {
    color: #D81E5B;
}

.bg-subscriptions {
    background-color: #d81e5b;
}

.swatch-book {
    color: #e9ce2c;
}

.bg-swatch-book {
    background-color: #e9ce2c;
}

.draftlogues {
    color: #FE5F55;
}

.bg-draftlogues {
    background-color: #FE5F55;
}

.travelogues {
    color: #087F8C;
}

.bg-travelogues {
    background-color: #087F8C;
}

.direct-messages {
    color: #758E4F;
}

.bg-direct-messages {
    background-color: #758E4F;
}

.activity {
    color: #ba5c12;
}

.bg-activity {
    background-color: #ba5c12;
}

.settings {
    color: #820263;
}

.bg-settings {
    background-color: #820263;
}

.account {
    color: #2F3061;
}

.bg-account {
    background-color: #2F3061;
}

/* Color palette */

.white {
    color: #ffffff;
}

.bg-white {
    background-color: #ffffff;
}

.creme {
    color: #f1dac4;
}

.bg-creme {
    background-color: #f1dac4;
}

.lavender {
    color: #a69cac;
}

.bg-lavender {
    background-color: #a69cac;
}

.musty-blue {
    color: #474973;
}

.bg-musty-blue {
    background-color: #474973;
}

.lunar-blue {
    color: #161b33;
}

.bg-lunar-blue {
    background-color: #161b33;
}

.midnight-blue {
    color: #0d0c1d;
}

.bg-midnight-blue {
    background-color: #0d0c1d;
}

/* Color palette end */

/* Navbar */

.nav-link:hover {
    color: #ffffff;
}

.nav-link > i {
    font-size: 1.8rem;
}

.navbar-brand {
    cursor: pointer;
}

/* Navbar End */

/* Sidebar */

.sidebar {
    height: 100%;
    width: 300px;
    float: left;"
}

.sidebar-header-menu-element {
    width: 100%;
    height: 70px;
    padding: 15px 10px;
    cursor: pointer;
}

.sidebar-header-menu-element > div {
    width: 50%;
    height: 100%;
    float: left;
    padding: 0 5px;
}

.sidebar-header-menu-element > div:first-child {
    text-align: right;
}


.sidebar-header-menu-element > div:nth-child(2) {
    text-align: left;
}

.sidebar-header-menu-element > div > i, span {
    line-height: 40px;
}

.sidebar-menu-element {
    width: 100%;
    height: 50px;
    padding: 5px 10px;
    line-height: 40px;
    font-size: medium;
    cursor: pointer;
    -webkit-transition: all .3s; /* Safari */
    transition: all .3s;
}

.sidebar-menu-icon {
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 5px;
    text-align: center;
}

.sidebar-menu-icon > i {
    line-height: 40px;
    font-size: 1.5rem;
}

.sidebar-menu-text {
    height: 40px;
    width: calc(100% - 40px);
    float: right;
    padding: 0 10px;
    font-size: 1.2rem;
}

.sidebar-menu-text > span {
    line-height: 40px;
    z-index: 1000;
}

.sidebar-menu-element:hover {
    background-color: #a69cac;
}

/* Sidebar End */

/* Content */

.content {
    height: 100%;
    width: calc(100% - 300px);
    float: left;
}

/*Content End*/